/* 노멀라이징 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif;
}

iframe {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

body, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
}

/* 도적질 on */
.kenburns-top {
	-webkit-animation: kenburns-top 5s ease-out both;
	        animation: kenburns-top 5s ease-out both;
}

 @-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-15px);
            transform: scale(1.1) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
            transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.1) translateY(-15px);
            transform: scale(1.1) translateY(-15px);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
}

/* 커스텀 */

/* html 공통 */

header {
  margin: 0 10px; 
}

header > h1 {
  text-align: center;
}

.top_bar {
  background-color: black;
  margin: 10px 0;
}

.top_bar > ul > li {
  display: inline-block;
}

.top_bar > ul > li > a {
  display: block;
  color:white;
  padding: 15px;
}

.top_bar > ul > li:hover > a {
  background-color: white;
  color:black;
}

.float_right {
  float:right;
}

main {
  margin: 0 10px;
}

footer {
  text-align: center;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  background-color: #efefef;
}

.flex-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  border: 3px solid lightgray;
}

/* about.html */

.about_img {
  background-image: url('/img/code.png');
  width: 100%;
  height: 40vh;
}

.about_description h1 {
  font-size: 2rem;
} 

/* singin.html */

.flex-container-signin > h2 {
  align-self: center;
}

.flex-container-signin > input {
  margin: 10px 20px;
  padding: 10px 0;
}

.flex-container-signin > button {
  margin: 10px 20px;
  padding: 10px 0;
  background-color: black;
  color: white;
}

.flex-container-signin > button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.flex-container-signin > .iconbox {
  text-align: center;
  margin: 10px 0;
}

.flex-container-signin > .iconbox i {
  font-size: 1.75rem;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 150px;
  background-color: white;
  border: 1px solid black;
}

.modal_content > span {
  align-self: end;
  margin-right: 10px;
}

.modal_content > button {
  background-color: black;
  color: white;
  width: 90%;
  padding: 10px 0;
  margin-bottom: 20px;
}

.modal_content > button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* signup.html */

.flex-container-signup {
  width: 600px;
}

.flex-container-signup > h2 {
  margin-top: 40px;
  margin-left: 10px;
}

.flex-container-signup > p {
  margin: 10px;
}

.flex-container-signup > h3 {
  margin: 10px;
}

.flex-container-signup > div {
  margin: 20px 0px 70px 10px;
}
